* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --text-icon: #21243D;
    --btn-text: #FF6464;
    --bg-img: #00A8CC;
    --smile-text: #8695A4;
    --black: #000000;
    --white: white;
    --block-bg: #EDF7FA;
    --border-bottom: #E0E0E0;
}

.contaner {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--black);
}

.active_nav {
    color: var(--btn-text);
}