@import url(../css/all.css);
@import url(../font/font.css);

/* ------------  Header  --------------- */

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px var(--smile-text);
}

.nav ul {
    display: flex;
}

.nav ul li a {
    padding: 33px;
    color: var(--black);
    font-family: 'Heebo-Medium', sans-serif;
    font-size: 20px;
    line-height: 29px;
}


/* ------------  Main  --------------- */


/* ------------  Block-1  --------------- */

.main .block_1 {
    height: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .block_1-text {
    max-width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-flow: column;
}

.main .block_1-text h1 {
    font-family: 'Heebo-Bold', sans-serif;
    font-size: 44px;
    line-height: 60px;
    color: var(--text-icon);
}

.main .block_1-text p {
    font-family: 'Heebo-Regular';
    font-size: 16px;
    line-height: 24px;
    color: var(--text-icon);
}

.main .block_1-text a {
    width: 208px;
    height: 47px;
    font-family: 'Heebo-Medium', sans-serif;
    font-size: 20px;
    line-height: 29px;
    color: var(--white);
    border-radius: 2px;
    background: var(--btn-text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .block_1-img img {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow: -3px 10px 1px var(--block-bg);
}


/* ------------  Block-2  --------------- */

.main .block_2-bg {
    background: var(--block-bg);
    padding: 32px 0px;
}

.block_2 .block_2-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.block_2 .block_2-text p,
.block_2 .block_2-text a {
    font-family: 'Heebo-Regular', sans-serif;
    font-size: 22px;
    line-height: 60px;
    /* color: var(--text-icon);  */
}

.block_2 .block_2-card {
    display: flex;
}

.block_2-card .card_1 {
    background: var(--white);
    margin-right: 10px;
    padding: 20px;
    border-radius: 4px;
}

.block_2-card .card_1 h1,
.block_2-card .card_2 h1 {
    font-family: 'Heebo-Bold', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: var(--text-icon);
}

.block_2-card .card_1_2-text {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.block_2-card .card_1 p,
.block_2-card .card_2 p {
    font-family: 'Heebo-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-icon);
    margin-bottom: 10px;
}

.block_2-card .card_1_2-text p {
    font-family: 'Heebo-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--bg-img);
}

.block_2-card .card_2 {
    background: var(--white);
    margin-left: 10px;
    padding: 20px;
    border-radius: 4px;
}


/* ------------  Block-3  --------------- */

.block_3 .block_3-head p {
    font-family: 'Heebo-Regular', sans-serif;
    font-size: 22px;
    line-height: 60px;
    color: var(--text-icon);
    padding: 10px 0px;
    margin: 20px 0px;
}

.block_3 .card {
    display: flex;
    border-bottom: solid 1px var(--border-bottom);
    padding: 30px 0px;
}

.block_3 .card-img {
    margin-right: 20px;
}

.block_3 .card-img img {
    width: 246px;
    height: 180px;
}

.block_3 .card-text h1 {
    font-family: 'Heebo-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: var(--text-icon);
}

.block_3 .card-text-db {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 20px 0px;
}

.block_3 .card-text-db button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Heebo-Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: var(--white);
    width: 62px;
    height: 25px;
    background: var(--text-icon);
    border-radius: 16px;
    margin-right: 25px;
    border: none;
}

.block_3 .card-text-db p {
    font-family: 'Heebo-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: var(--smile-text);
}

.block_3 .card-text h2 {
    font-family: 'Heebo-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-icon);
}


/* ------------  footer  --------------- */

.footer {
    height: 180px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.footer .footer_icon {
    margin-bottom: 25px;
}

.footer .footer_icon a {
    font-size: 30px;
    margin: 0 10px;
    color: var(--text-icon);
}

.footer p {
    font-family: 'Heebo-Regular', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: var(--text-icon);
}


/* ------------  Media  --------------- */

@media(max-width:900px) {
    .contaner {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .main .block_1-text {
        max-width: 400px;
        height: 300px;
    }
    .main .block_1-text p {
        width: 400px;
    }
    .main .block_1-text h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .main .block_1-img img {
        width: 170px;
        height: 170px;
    }
}

@media(max-width:600px) {
    .contaner {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    /* --------- M block_1 600px --------- */
    .main .block_1 {
        height: 550px;
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .main .block_1-text {
        max-width: 400px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: column;
    }
    .main .block_1-text h1 {
        margin-top: 15px;
        text-align: center;
    }
    /* --------- M block_2 600px --------- */
    .block_2 .block_2-text {
        justify-content: space-evenly;
    }
    .block_2 .block_2-text p,
    .block_2 .block_2-text a {
        font-size: 18px;
        line-height: 60px;
    }
    .block_2 .block_2-card {
        display: flex;
        flex-flow: column;
    }
    .block_2-card .card_1 {
        margin: 0px 0px 10px 0px;
    }
    .block_2-card .card_1 h1,
    .block_2-card .card_2 h1 {
        font-size: 22px;
        line-height: 30px;
    }
    .block_2-card .card_1_2-text {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0px;
    }
    .block_2-card .card_1 p,
    .block_2-card .card_2 p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .block_2-card .card_1_2-text p {
        font-size: 16px;
        line-height: 24px;
    }
    .block_2-card .card_2 {
        margin: 10px 0px 0px 0px;
    }
    /* --------- M block_3 600px --------- */
    .block_3 .block_3-head p {
        text-align: center;
    }
    .block_3 .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .block_3 .card-img {
        margin: 0px;
    }
    .block_3 .card-img img {
        width: 300px;
        height: 230px;
    }
    .block_3 .card-text h1 {
        text-align: center;
    }
    .block_3 .card-text-db {
        justify-content: center;
    }
    .block_3 .card-text h2 {
        text-align: center;
        width: 300px;
    }
}

@media(max-width:400px) {
    .contaner {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav ul li a {
        padding: 15px;
    }
    .main .block_1 {
        height: 600px;
    }
    .main .block_1-text {
        height: 400px;
    }
    .main .block_1-text h1 {
        width: 300px;
        text-align: center;
    }
    .main .block_1-text p {
        width: 300px;
        text-align: center;
    }
}